.workspace-tab-header[aria-label="Todo List"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="Todo List"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-normal) ;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="11" fill="none" stroke="currentColor" stroke-width="2"/><line x1="12" y1="7" x2="12" y2="17" stroke="currentColor" stroke-width="2"/><line x1="7" y1="12" x2="17" y2="12" stroke="currentColor" stroke-width="2"/></svg>');   
}

.workspace-tab-header[aria-label="Todo List"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="11" fill="none" stroke="currentColor" stroke-width="2"/><line x1="12" y1="7" x2="12" y2="17" stroke="currentColor" stroke-width="2"/><line x1="7" y1="12" x2="17" y2="12" stroke="currentColor" stroke-width="2"/></svg>');      
}

/* .workspace-tab-header[aria-label="Event List"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="Event List"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-normal) ;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg class='svg-icon' viewBox='0 0 20 20'%3E%3Cpath d='M16.557,4.467h-1.64v-0.82c0-0.225-0.183-0.41-0.409-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H5.901v-0.82c0-0.225-0.185-0.41-0.41-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H3.442c-0.904,0-1.64,0.735-1.64,1.639v9.017c0,0.904,0.736,1.64,1.64,1.64h13.114c0.904,0,1.64-0.735,1.64-1.64V6.106C18.196,5.203,17.461,4.467,16.557,4.467 M17.377,15.123c0,0.453-0.366,0.819-0.82,0.819H3.442c-0.453,0-0.82-0.366-0.82-0.819V8.976h14.754V15.123z M17.377,8.156H2.623V6.106c0-0.453,0.367-0.82,0.82-0.82h1.639v1.23c0,0.225,0.184,0.41,0.41,0.41c0.225,0,0.41-0.185,0.41-0.41v-1.23h8.196v1.23c0,0.225,0.185,0.41,0.41,0.41c0.227,0,0.409-0.185,0.409-0.41v-1.23h1.64c0.454,0,0.82,0.367,0.82,0.82V8.156z'%3E%3C/path%3E%3C/svg%3E");
}

.workspace-tab-header[aria-label="Event List"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg class='svg-icon' viewBox='0 0 20 20'%3E%3Cpath d='M16.557,4.467h-1.64v-0.82c0-0.225-0.183-0.41-0.409-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H5.901v-0.82c0-0.225-0.185-0.41-0.41-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H3.442c-0.904,0-1.64,0.735-1.64,1.639v9.017c0,0.904,0.736,1.64,1.64,1.64h13.114c0.904,0,1.64-0.735,1.64-1.64V6.106C18.196,5.203,17.461,4.467,16.557,4.467 M17.377,15.123c0,0.453-0.366,0.819-0.82,0.819H3.442c-0.453,0-0.82-0.366-0.82-0.819V8.976h14.754V15.123z M17.377,8.156H2.623V6.106c0-0.453,0.367-0.82,0.82-0.82h1.639v1.23c0,0.225,0.184,0.41,0.41,0.41c0.225,0,0.41-0.185,0.41-0.41v-1.23h8.196v1.23c0,0.225,0.185,0.41,0.41,0.41c0.227,0,0.409-0.185,0.409-0.41v-1.23h1.64c0.454,0,0.82,0.367,0.82,0.82V8.156z'%3E%3C/path%3E%3C/svg%3E");
} */
